body{
	background: rgb(255, 255, 255);
	margin: 0;
}
;
}


.post_text{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-img-top{
border-radius: 10px;
height: 300px;
}

.forms{
	width: 300%;
	max-width: 500px;
	padding: 15px;
	margin: auto;
	margin-top: 60px;
	border-style: solid;
  	border-color: #e6e9ec !important;
	border-width: 0.5px;
}

.alert{
	position: absolute;
}

.d-flex{
	display: grid;
	flex-wrap: wrap;
}

.btn{
	display: block;
    width: 50%;
	margin: auto;
	border-radius: 30px;
	height: 50px;
}

.input{
	text-align: center;
	text-align-last: center;
  }

  #ac_brand{
	display: block;
	width: 75%;
	height: 40px;
	margin: auto;
	border-radius: 10px;
	text-align: center;
  	text-align-last: center;
  }
  #service_type{
	display: block;
	width: 75%;
	height: 40px;
	margin: auto;
	border-radius: 10px;
	text-align: center;
  	text-align-last: center;
  }
  #ac_qty{
	display: block;
	width: 20%;
	margin: auto;
	text-align: center;
  	text-align-last: center;
  }

  .form-control{
	text-align: center;
	text-align-last: center;
  }

  